.itemdetailviewwrapper{
    margin-top: 150px;
}
.itemdetailviewsection{
    padding: 0 290px;
    display: flex;
    gap: 60px;
}
.imagelikeicon img{
    width: 35px;
    height: 30px;
    width: 26px;
    height: 25px;
    padding: 6px;
    padding-top: 10px;
    border: 1px solid #E5E5EA;
    border-radius: 26px;
    background-color: #E5E5EA;
}
.itemdetailviewsection{
    display: flex;
    justify-content: space-between;
}
.imageSection{
    width: 45%;
    text-align: center;
    margin-top: 105px;
}
.imagedescsection{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.producttitle{    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 44px !important;
    line-height: 58px !important;
    color: #1B2437;
}
.reviewsection{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.reviewicons{
    display: flex;
    gap: 10px;
}
.swiper-button-next,.swiper-button-prev{
    color: #D1D1D6 !important;
}

.diffangleimage .swiper-slide {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.diffangleimage .swiper {
    width: 100%;
    height: 100%;
}

.diffangleimage .swiper-slide img {
    display: block;
    height: 130px;
    width: 100px;
}
.desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8E8E93;
}
.css-13xfq8m-MuiTabPanel-root{
    padding: 20px 0 !important;
}
.mainoptionlist{
    display: flex;
    justify-content: space-between;
}
.optionlist{
    display: flex;
    flex-direction: column;
}
.optionheading{
    display: flex;
    gap: 120px;
}
.optionlistvalue{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}
.sizebox{
    width: fit-content;
    border: 1px solid #000000;
    padding: 10px 20px;
}
.activeoptionlistvalue{
    background: #1B2437;
    color: white;
}
.colorsection{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.coloroption{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.coloroption1{
    padding: 25px 25px;
    background-color: #1B2437;
}
.coloroption2{
    padding: 20px 20px;
    background-color: #127681;
}
.coloroption3{
    padding: 20px 20px;
    background-color: #32E0C4;
}
.btns{
    display: flex;
    gap: 50px;
    margin-top: 25px;
}
.shopnowbtn{
    background: #1B2437 !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    padding: 15px 20px !important;
    text-transform: inherit !important;
}
.addtocartbtn{
    background: #F5F5F5 !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    padding: 15px 20px !important;
    text-transform: inherit !important;
}
.css-heg063-MuiTabs-flexContainer{
    justify-content: space-between;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    font-weight: 700;
    color: #111827;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1B2437;
}